<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" >
    </uses-feature>

    <!-- Removed storage permissions (READ_MEDIA_VIDEO, READ_EXTERNAL_STORAGE, WRITE_EXTERNAL_STORAGE) as SAF handles this natively -->

    <!-- Stripped permissions injected by third-party libraries (Media3 ExoPlayer) -->
    <!-- The app strictly plays local offline files and requires zero network awareness or access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove" />

    <!-- Haptic Feedback for Gestures -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Prevent non-system overlay windows from being drawn over the app (API 31+) -->
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />

    <application
        android:name=".UndeadWallpaperApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UndeadWallpaper"
        >    <!-- tools:targetApi="31" should not be needed anymore and be taken from Gradle-->
        <service
            android:name=".service.UndeadWallpaperService"
            android:thumbnail="@mipmap/ic_launcher" android:description="@string/app_name"
            android:exported="true"
            android:enabled="true"
            android:label="Undead Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" >
            </meta-data>
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.UndeadWallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>